@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Play:wght@400;700&family=Press+Start+2P&display=swap');
@import "tailwindcss";

@theme{
  --font-ps2p : 'Press Start 2P', 'system-ui';
  --font-play: 'Play', 'sans-serif';
  --font-pixelify: 'Pixelify Sans', 'sans-serif';
}